@import "tailwindcss";

@theme{
    --color-primary: #A07856;
    --color-secondary: #6F4D38;
    --color-tertiary: #CBB799;
}


html,body{
    box-sizing: border-box;
    font-family: "Viaoda Libre";
    font-size: small;
    font-weight:lighter;
    color : #3d211a;
    
    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}
                                                                                                                              